.progect {
  margin-bottom: 100px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  cursor: pointer;
}

.progect::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.1;
  background-color: #2a2c2f;
}

.progect:hover::before {
  opacity: 0.8;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

@media screen and (max-width: 600px) {
  .progect {
    margin-bottom: 50px;
  }
}
