.page {
  max-width: 1445px;
  margin: 0 auto;
  color: #070707;
  position: relative;
  font-family: 'Gilroy', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}
@media screen and (max-width: 850px) {
  .page {
    max-width: 850px;
  }
}
@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 375px) {
  .page {
    max-width: 375px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
