.portfolio {
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #f6f6f6;
  max-width: 940px;
  margin: 0 auto;
  padding: 100px 0 1px 0;
}

@media screen and (max-width: 1024px) {
  .portfolio {
    max-width: 768px;
  }
}
@media screen and (max-width: 850px) {
  .portfolio {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio {
    max-width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .portfolio {
    max-width: 425px;
    padding: 50px 0 1px 0;
  }
}
@media screen and (max-width: 460px) {
  .portfolio {
    max-width: 375px;
  }
}
@media screen and (max-width: 320px) {
  .portfolio {
    max-width: 320px;
  }
}
