.footer__author {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #070707;
  margin: 0 auto 40px auto;
  max-width: 318px;
}

@media screen and (max-width: 600px) {
  .footer__author {
    margin: 0 auto 20px auto;
    max-width: 300px;
  }
}
