.aboutMe {
  background-color: #f6f6f6;
  max-width: 940px;
  margin: 0 auto;
  padding: 100px 0;
  /* border: 1px red solid; */
}

@media screen and (max-width: 1024px) {
  .aboutMe {
    max-width: 768px;
  }
}
@media screen and (max-width: 850px) {
  .aboutMe {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .aboutMe {
    max-width: 500px;
    padding: 80px 0;
  }
}
@media screen and (max-width: 600px) {
  .aboutMe {
    max-width: 425px;
    padding: 50px 0;
  }
}
@media screen and (max-width: 460px) {
  .aboutMe {
    max-width: 375px;
    padding: 81px 0 76px 0;
  }
}
@media screen and (max-width: 320px) {
  .aboutMe {
    max-width: 320px;
  }
}
