.topbutton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 100px;
  border-radius: 30px;
  /* border: 2px solid #ccc; */
  background: #070707;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
}
