@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);

/*Nav*/
@import url(../blocks/nav/nav.css);
@import url(../blocks/nav/__links/nav__links.css);
@import url(../blocks/nav/__link/nav__link.css);
@import url();

/*intro*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__name/intro__name.css);
@import url(../blocks/intro/__div/intro__div.css);
@import url(../blocks/intro/__prof/intro__prof.css);
@import url(../blocks/intro/__about/intro__about.css);
@import url(../blocks/intro/__tel/intro__tel.css);
@import url(../blocks/intro/__links/intro__links.css);
@import url(../blocks/intro/__link/intro__link.css);
@import url(../blocks/intro/__link/_ru/intro__link_ru.css);
@import url(../blocks/intro/__link/_en/intro__link_en.css);
@import url(../blocks/intro/__link/_active/intro__link_active.css);
@import url(../blocks/intro/__img/intro__img.css);

/*abotMe*/
@import url(../blocks/aboutMe/aboutMe.css);
@import url(../blocks/aboutMe/__header/aboutMe__header.css);
@import url(../blocks/aboutMe/__text/aboutMe__text.css);
@import url();

/*skills*/
@import url(../blocks/skills/skills.css);
@import url(../blocks/skills/__header/skills__header.css);
@import url(../blocks/skills/__text/skills__text.css);
@import url(../blocks/skills/__items/skills__items.css);
@import url(../blocks/skills/__item/skills__item.css);

/*portfolio*/
@import url(../blocks/portfolio/portfolio.css);
@import url(../blocks/portfolio/__header/portfolio__header.css);
@import url(../blocks/portfolio/__links/portfolio__links.css);
@import url(../blocks/portfolio/__link/portfolio__link.css);
@import url(../blocks/portfolio/__img/portfolio__img.css);
@import url(../blocks/portfolio/__site/portfolio__site.css);
@import url(../blocks/portfolio/__arrow/portfolio__arrow.css);
@import url(../blocks/portfolio/__bottom/portfolio__bottom.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);

@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__button/contacts__button.css);
@import url(../blocks/contacts/__header/contacts__header.css);
@import url(../blocks/contacts/__text/contacts__text.css);
@import url();
@import url(../blocks/topbutton/topbutton.css);
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
@import url();
