.aboutMe__text {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto 20px auto;
  max-width: 485px;
}

.aboutMe__text:last-of-type {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .aboutMe__text {
    max-width: 450px;
  }
}
@media screen and (max-width: 600px) {
  .aboutMe__text {
    max-width: 400px;
  }
}
@media screen and (max-width: 460px) {
  .aboutMe__text {
    max-width: 316px;
  }
}
@media screen and (max-width: 320px) {
  .aboutMe__text {
    max-width: 288px;
  }
}
