.portfolio__img {
  max-width: 940px;
}

@media screen and (max-width: 1024px) {
  .portfolio__img {
    max-width: 768px;
  }
}
@media screen and (max-width: 850px) {
  .portfolio__img {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio__img {
    max-width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .portfolio__img {
    max-width: 425px;
  }
}
@media screen and (max-width: 425px) {
  .portfolio__img {
    max-width: 375px;
  }
}
/***************/
@media screen and (max-width: 375px) {
  .portfolio__img {
    max-width: 375px;
  }
}
@media screen and (max-width: 320px) {
  .portfolio__img {
    max-width: 320px;
  }
}
