.intro__img {
  border-radius: 0px;
  margin: 0;
  max-width: 320px;
}

@media screen and (max-width: 768px) {
  .intro__img {
    max-width: 250px;
  }
}
@media screen and (max-width: 600px) {
  .intro__img {
    max-width: 200px;
  }
}
@media screen and (max-width: 460px) {
  .intro__img {
    max-width: 316px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .intro__img {
    margin: 0 29px;
  }
}
@media screen and (max-width: 320px) {
  .intro__img {
    max-width: 288px;
  }
}
